.input-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 7rem 0 0;
  pointer-events: none;
}

.databus {
  display: flex;
}

.databus.horizontal {
  width: 5rem;
  height: 2rem;
}

.databus.down {
  padding: 0 0 0 7rem;
  justify-content: start;
}

.databus div {
  display: flex;
  min-width: 0;
  min-height: 0;
}

.databus div.data {
  align-items: center;
  padding: 0.4rem;
}

.databus p {
  pointer-events: none;
}