#puzzle {
  /* display: grid;
  grid-template-columns: min-content max-content; */
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

#puzzle h5, #puzzle span {
  pointer-events: none;
}

#puzzle h5 {
  margin: 0 0 0.5rem 0;
}

aside {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  min-width: 20rem;
  max-width: 20rem;
}

#sidebar-top, #sidebar-bottom {
  display: flex;
  flex-flow: column;
  align-items: center;
}