.node .code-container {
  grid-area: code;
  resize: none;
  background-color: black;
}

.code-container {
  position: relative;
  font-family: monospace;
}

span.isCurrentLine {
  color: black;
  background-color: white;
}

.code-input,
.code-highlighting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 4px;
}

.node .code-container.hasError {
  background-color: red;
}

.code-container.disabled-mode code {
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.code-container.disabled-mode code span {
  color: red;
}

.code-input {
  opacity: 1;
  margin: 0;
  resize: none;
}

.code-highlighting {
  pointer-events: none;
  z-index: 3;
  margin: 0;
  overflow-y: auto;
}

code {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  background-color: transparent;
  padding: 4px;
  overflow: hidden;
  font-size: 13.3333px;
  width: 100%;
  height: 100%;
  padding: 4px 0;
}

code span {
  padding: 0 4px;
}

.code-container.edit-mode :not(pre) > code,
.code-container.edit-mode pre {
  background: transparent;
  margin: 0;
}
