.node {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-areas:
    "code code code acc"
    "code code code bak"
    "code code code last"
    "code code code mode";
  padding: 1px;
  gap: 1px;
  width: 13rem;
  height: 13rem;
  background-color: white;
}

.node.isDisabled {
  background-color: red;
}

.node .acc {
  grid-area: acc;
}

.node .bak {
  grid-area: bak;
}

.node .last {
  grid-area: last;
}

.node .mode {
  grid-area: mode;
}

.node .data-container {
  display: grid;
  background-color: black;
}

.node .data-container .data {
  text-align: center;
  justify-self: center;
  align-self: center;
}

.node .data-container .data .label {
  color: lightgrey;
}


/* Egress Arrows */

.databus {
  display: flex;
}

.databus.horizontal {
  width: 5rem;
  height: 2rem;
}

.databus.vertical {
  flex-flow: column;
  width: 2rem;
  height: 5rem;
}

.databus.up {
  padding: 0 8rem 0 0;
}

.databus.right {
  padding: 0 0 8rem 0;
}

.databus.down {
  padding: 0 0 0 8rem;
}

.databus.left {
  padding: 8rem 0 0 0;
}

.databus.up, .databus.right {
  justify-content: end;
}
.databus.left, .databus.down {
  justify-content: start;
}

.databus div {
  display: flex;
  min-width: 0;
  min-height: 0;
}

.databus div.data {
  align-items: center;
  padding: 0.4rem;
}

.databus p {
  pointer-events: none;
}