#controls {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 100%;
  height: 4rem;
}

#controls .control {
  padding: 5px;
}

#controls button {
  width: 100%;
  height: 100%;
  padding: 2px;
}
