<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
<style>
  body {
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    text-transform: uppercase;
  }
  p {
    margin: 0;
  }
</style>
