#test-display {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
}

#test-inputs, #test-outputs {
  display: flex;
}

.test-input-values {
  display: flex;
  flex-flow: column;
  text-align: right;
  padding: 0.2rem 0.4rem;
  border: 1px solid white;
}

.test-output-values {
  display: flex;
  text-align: right;
  background-color: white;
  padding: 1px;
}

.test-output-values div {
  display: flex;
  flex-flow: column;
  padding: 0.2rem 0.4rem;
  background-color: black;
}

.test-input-container {
  display: flex;
  flex-flow: column;
  margin-left: 1rem;
  line-height: 0.9rem;
}

.test-output-container {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-areas:
    "head head"
    "expected actual";
  margin-right: 1rem;
  line-height: 0.9rem;
}

.test-output-id {
  grid-area: head;
}

.test-output-id, .test-input-id {
  margin-bottom: 0.2rem;
  text-align: center;
}

.test-output-expected {
  grid-area: expected;
}

.test-output-actual {
  grid-area: actual;
  min-width: 1.5rem;
  margin-left: 1px;
}
