body {
  font-family: 'Ubuntu Mono', monospace;
}

nav ul, nav li {
  list-style: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav li {
  height: 4rem;
  padding: 0 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
}

nav a {
  text-align: center;
  padding: 1rem;
}

a {
  text-decoration: none;
}