html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: black;
}

* {
  color: white;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-shadow {
  border: 1px solid white;
  box-shadow: 3px 3px lightgrey;
}